* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white
}

.line-container {
    position: absolute;
    top: 0;
    left: 50%;
    height: 380vh;
    z-index: 3;
    transform: translateX(-50%);
}

svg {
    display: inline-block;
    height: 100%;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 6rem;
}

p {
    font-size: 4rem;
}

.one {
    background: url('./img/mountains-bg.jpg');
    background-size: 108%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.one img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.one .gradient-one {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(2,0,36,0) 90%, rgba(107,147,191,1) 100%);
    z-index: 2;
}

.scroll-down-container {
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

.icon {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 15px;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: rotate(90deg) translateX(-10px)
    }
    50% {
        transform: rotate(90deg) translateX(0px);
    }
    100% {
        transform: rotate(90deg) translateX(-10px);
    }
}

.text {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.two {
    background-image: linear-gradient(#6B93BF, #011E48);
}

.three {
    background-image: url('./img/sky-bg.jpg');
    background-size: cover;
}

.four {
    background-image: linear-gradient(#000000, rgb(201, 84, 139));
}

.five {
    background-image: url('./img/landscape.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


.five .gradient-five {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(2,0,36,0) 90%, rgba(201, 84, 139,1) 100%);
    z-index: 2;
}


@media screen and (max-width: 2045px) {
    body {
        width: 2045px;
    }

    .line-container {
        left: 0;
        transform: translate(0)
    }
}